<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title>Array and objects</title>
  </head>
  <body>
    <div class="grid"></div>
    <template>
      <article>
        <h2>Test</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque
          qui provident nulla iste repellat. Earum ad ipsam voluptates, vel
          minima animi vero nam odit? Incidunt eligendi accusamus quis non
          ipsam!
        </p>
      </article>
    </template>
    <script src="template.js"></script>
  </body>
</html>
